.open-menu{
  width: 50vw;
  height: 100vh;
  background: white;
  position: fixed;
  transition: 0.5s;
}

.container{
  height: 100vh;
  .show-left-menu{
    transform: none;
  }
  .hidden-left-menu{
    transform: translateX(-50vw);
  }
  .show-right-menu{
    transform: none;
  }
  .hidden-right-menu{
    transform: translateX(50vw);
  }
  .left-menu{
    .open-menu();
    left: 0px;
  }
  .right-menu{
    .open-menu();
    right: 0px;
  }
  .header{
    width: 80vw;
    padding: 5vw 10vw 0vw 10vw;
    z-index: 9999999;
  }
  .footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 20vh;
    line-height: 20vh;
  }
  .show-money{
    height: 68vh;
    padding-top: 2vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}