@import "../../global.less";

.components-show-money-data{
  width: 80vw;
  padding: 0vw 10vw;
  .money-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .negative{
      color: @negativeColor;
    }
    .positive{
      color: @positiveColor;
    }
  }
}