@import "../../global.less";

.components-show-money-data{
  width: 80vw;
  padding: 0vw 10vw;
  margin-top: 10px;
  .money-item{
    display: grid;
    grid-template-columns: 1fr 1fr 24vw 1fr;
    margin-bottom: 5px;
    .money{
      text-align: center;
    }
    .remark{
      text-align: right;
    }
    .negative{
      color: @negativeColor;
    }
    .positive{
      color: @positiveColor;
    }
  }
}