@import "public/style.less";
page {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background: #FFFFFF;
} 

button {
  background: initial;
  &:focus{
    outline: 0;
  }
  &::after{
    border: none;
  }
}
