@import "../../global.less";

@media (prefers-color-scheme:light) {
  page {
    .dark{
      display: none;
    }
  }
}

@media (prefers-color-scheme:dark) {
  page{
    .light{
      display: none;
    }
  }
}

.input-class{
  height: 5vh;
  line-height: 5vh;
  margin: 1vh 10vw;
  padding: 0px 5vw;
  .input-money{
    height: 5vh;
    line-height: 5vh;
  }
  .input-placeholder{
    height: 5vh;
    line-height: 5vh;
  }
}
.show-data{
  position: relative;
  height: 100vh;
  .show-time{
    text-align: center;
    margin: 0vw 0vw 4vw 0vw;
  }
  .invaild-input{
    -webkit-box-shadow: 0px 0px 1px 2px var(--weui-RED);
    -moz-box-shadow: 0px 0px 1px 2px var(--weui-RED);
    box-shadow: 0px 0px 1px 2px var(--weui-RED);
  }
  .input-box{
    .input-class();
    background-color: var(--weui-BG-2);
  }
  .input-remark{
    .input-class();
    background-color: var(--weui-BG-2);
    border-bottom: 1px solid var(--weui-FG-2)
  }
  .category-list{
    display: flex;
    flex-wrap: wrap;
    padding: 1vh 10vw;
    .category-item{
      width: 20vw;
      height: 20vw;
      line-height: 20vw;
      text-align: center;
      background: var(--weui-BG-2);
      margin-bottom: 2vw;
      position: relative;
      border-radius: 5%;
      image{
        width: 60%;
        height: 100%;
      }
      &::after{
        content: '';
        height: 20vw;
        background: rgba(0,0,0,0.3);
        position: absolute;
        right: 0px;
        width: 1px;
      }
      &:nth-of-type(4n) {
        &::after{
          display: none;
        }
      }
      &:last-child {
        &::after{
          display: none;
        }
      }
    }
  }
  .delete{
    position: absolute;
    bottom: 0px;
    width: 100vw;
    button{
      background: var(--weui-RED);
      color: #ffffff;
    }
  }
  .add-padding{
    padding-bottom: 32px;
  }
}